.App {
  text-align: center;
  padding: 20px;
}

#logo {
  width: 120px;
  margin-top: 10px;
}

#mainTitle {
  font-size: 2.2rem;
  background: linear-gradient(90deg, #3a6186, #89253e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page-content {
  padding-bottom: 160px; 
}